@CHARSET "ISO-8859-1";

.markOrange {
	background-color: #F79F81;
}

.blue.ui-datatable .ui-datatable-even {
	background: red !important;
}

.blue.ui-datatable .ui-datatable-odd {
	background: red !important; 
}

.hide-column-names table thead tr {
	display: none;
}

.ui-picklist .ui-picklist-list {
	width: 300px;
}

.ui-picklist .ui-picklist-filter {
	padding-right: 0px;
	padding-right-value: 0px;
	padding-right-ltr-source: physical;
	padding-right-rtl-source: physical;
	width: 98%;
}

.test {
	width: 800px;
}

.ui-widget {
	font-family: HdM Frutiger Next Pro Light;
	src: url('/resources/fonts/HdMFrutigerNextPro-Light.otf') format('otf');
}

.noBorders tr, .noBorders td {
	background: none !important;
	border: none !important;
}

@font-face {
	font-family: "HdM Frutiger Next Pro Light";
	src: url('#{resource["fonts/HdMFrutigerNextPro-Light.otf"]}');
}